body {
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title {
  color: #111;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.section-title span {
  color: #fd9222;
}

.header {
}
.header-navigation {
}

.header-logo {
  color: #111;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
}

.header-logo-italic {
    font-style: italic;
}
.header-logo-image {
}
.header-menu-list {
}
.list {
}
.header-menu-item {
}
.header-menu-link {
}
.header-soc-list {
}
.header-soc-item {
}
.header-soc-link {
}
.hero {
}
.hero-title {
}
.hero-btn {
}
.hero-btn-link {
}
.hero-btn-down {
}
.features {
}
.visually-hidden {
}
.features-list {
}
.features-item {
}
.features-subtitle {
}
.features-item-text {
}
.taste {
}
.taste-title {
}
.section-title {
}
.taste-list {
}
.taste-item {
}
.taste-img {
}
.taste-subtitle {
}
.made {
}
.made-title {
}
.made-img {
}
.made-subtitle {
}
.made-list {
}
.made-item {
}
.made-item-text {
}
.products {
}
.products-title {
}
.products-list {
}
.products-item {
}
.products-img {
}
.products-subtitle {
}
.products-item-text {
}
.products-btn {
}
.sellers {
}
.sellers-title {
}
.sellers-list {
}
.sellers-item {
}
.sellers-img {
}
.sellers-subtitle {
}
.loved {
}
.loved-title {
}
.loved-list {
}
.loved-item {
}
.loved-img {
}
.loved-subtitle {
}
.loved-item-text {
}
.loved-btn {
}
.footer {
}
.footer-text {
}
.footer-subtitle {
}
.footer-soc-list {
}
.footer-soc-item {
}
.footer-soc-link {
}
.footer-address {
}
.footer-address-list {
}
.footer-address-item {
}
.footer-address-link {
}
.footer-navigation {
}
.footer-menu-list {
}
.footer-menu-item {
}
.footer-menu-link {
}
